<h2>A newly created place</h2>

<div id="alert_placeholder"></div>    

<p>You can now edit or destroy the new marker by <strong>clicking on it</strong></p>
<p>The same can be said on existing markers, though their behaviour comes from the server</p>