<h2>Hey user!</h2>

<div id="alert_placeholder"></div>    

<p>Welcome to this <em>gmaps4rails <strong>CRUD</strong> demo</em></p>     

<p>Please allow the browser to send your location</p>     

<p><strong>Double click</strong> over the map and a form will popup to create a new place.</p>
<p>If you have opened a create form you can still dissmiss the form by clicking on close. The 
    same happens when double clicking over a different spot</p>
<p>You can also <strong>click on an existing spot</strong> to delete or modify it</p>