<h2>Updated... and now?</h2>

<div id="alert_placeholder"></div>    

<p>Please note that this actions updates <strong>the click event</strong> for the marker with the new content,
    along with the database</p>

<p>You can also test errors letting the sport or name field empty</p>
